html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  background: url('../images/Nippon.png') #f2f2f2;
  font-family: 'Ariel', sans-serif;
  font-size: 100%;
  color: #757575;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 940px;
}

.header {
  margin-bottom: 20px;
}

.header h1.logo {
  background: url('../images/nippon_auto_logo.png') #fff;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;
  margin: 0;
  text-indent: 110%;
  white-space: nowrap;
  height: 175px;
  width: 175px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 6px -6px #a5a5a5;
  display: inline-block;
}

.header .top_content {
  float: right;
  width: 700px;
}

.header .contact {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 6px -6px #a5a5a5;
  float: right;
  padding: 10px;
  width: 300px;
}

.header .contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .contact ul li {
  font-size: 70%;
  line-height: 25px;
  border-bottom: 1px solid #ffd9d9;
  padding-left: 20px;
}

.header .contact ul li:last-child {
  border: none;
}

.header .contact ul li:before {
  content: "\00BB";
  color: #ff0000;
  font-size: initial;
  padding-right: 5px;
}

.header .top_content h1 {
  font-family: 'Fira Sans', sans-serif;
  color: #b9b9b9;
  font-size: 350%;
  font-weight: 700;
  margin: 15px 0 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
}

.header .top_content h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 1px rgba(255,255,255,0.75);
}

.header .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 33px 0 0;
  float: right;
}

.header .menu ul li {
  display: inline-block;
}

.header .menu a {
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-size: 90%;
  font-weight: 500;
  color: #474747;
  padding: 0 15px;
}

.header .menu a:hover {
  background-color: #fff;
  color: #ff0000;
  padding: 10px 15px 8px;
  border-radius: 5px;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35)
}

main .article {
  background-color: #fff;
  border-top-left-radius: 10px;
  float: left;
  width: 720px;
  padding: 20px;
  min-height: 728px;
}

main .article h1 {
  font-size: 120%;
  background: #f2f2f2;
  padding: 7px 0 7px 10px;
  margin: 0 -20px 0 0;
  text-shadow: 0 1px #fff;
  font-weight: normal;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

main .article p {
  font-size: 90%;
}

main .aside {
  background-color: #f2f2f2;
  border-top-right-radius: 10px;
  float: left;
  width: 220px;
}

main .aside figure {
  background-color: #b9b9b9;
  padding: 5px;
  margin: 20px;
}

main .aside figure:hover {
  background-color: #ff0000;
}

main .aside figure a {
  text-decoration: none;
}

main .aside figure img {
  max-width: 100%;
  border: 1px solid #fff;
}

main .aside figcaption {
  color: #fff;
  font-size: 80%;
}

.footer .top_box {
  background-color: #2e2f33;
  height: 150px;
  padding: 20px;
}

.footer .top_box .box {
  float: left;
  width: 360px;
  margin-right: 20px;
}

.footer .box h1 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 110%;
  font-weight: normal;
}

.footer .box ul {
  list-style: none;
  margin: 0;
  padding: 5px 0 0;
}

.footer .box ul li {
  font-size: 80%;
  line-height: 30px;
}

.footer .box ul li:before {
  content: "\00BB";
  color: #ff0000;
  font-size: initial;
}

.footer .box li a {
  color: #757575;

}

.footer .box li a:hover {
  color: #ff0000;
  text-decoration: underline;
}

.footer .clearad {
  clear: both;
}

.footer .bottom_box {
  background-color: #000;
  height: 55px;
  padding: 20px;
}

.footer .bottom_box .links {
  float: right;
  margin: 0;
}

.footer .bottom_box .links li {
  display: inline;
  font-size: 80%;
}

.footer .bottom_box .links li a {
  text-decoration: none;
  color: #fff;
  margin-left: 7px;
}

.footer .bottom_box .links li a:hover {
  text-decoration: underline;;
}

.footer .bottom_box .links li::after {
  content: "\007C";
  color: #fff;
  margin-left: 7px;
}

.footer .bottom_box .links li:last-child::after {
  content: "";
  margin-left: 0;
}

.footer .bottom_box .copyright {
  float: left;
  font-size: 80%;
  margin: 0;
  color: #fff;
}

.footer .bottom_box .copyright a {
  text-decoration: none;
  color: #757575;
}

.footer .bottom_box .copyright a:hover {
  text-decoration: underline;
}


.footer .bottom_box .copyright::before {
  content: "\00A9";
}


/*Clearfix*/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
